*.v2
*.sentinel
*.vsidx
.vs/NoteTakingAPI/v17/.suo
*.1
*.sentinel
.vs/NoteTakingAPI/v17/.suo
.vs/ProjectEvaluation/notetakingapi.metadata.v5.1
.vs/ProjectEvaluation/notetakingapi.projects.v5.1
NoteTakingAPI/appsettings.json
