
*.vsidx
.vs/NoteTakingAPI/FileContentIndex/99649593-d2ac-4413-9d9f-583f4785209d.vsidx
.vs/NoteTakingAPI/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/notetakingapi.projects.v5.1
.vs/ProjectEvaluation/notetakingapi.metadata.v5.1
.vs/NoteTakingAPI/v17/.suo
.vs/NoteTakingAPI/v17/.futdcache.v2
.vs/ProjectEvaluation/notetakingapi.projects.v5.1
.vs/ProjectEvaluation/notetakingapi.metadata.v5.1
.vs/NoteTakingAPI/v17/.suo
.vs/NoteTakingAPI/v17/.futdcache.v2
.vs/NoteTakingAPI/DesignTimeBuild/.dtbcache.v2
