
*.vsidx
.vs/NoteTakingAPI/FileContentIndex/99649593-d2ac-4413-9d9f-583f4785209d.vsidx
.vs/NoteTakingAPI/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/notetakingapi.projects.v5.1
.vs/ProjectEvaluation/notetakingapi.metadata.v5.1
.vs/NoteTakingAPI/v17/.suo
.vs/NoteTakingAPI/v17/.futdcache.v2
.vs/ProjectEvaluation/notetakingapi.projects.v5.1
.vs/ProjectEvaluation/notetakingapi.metadata.v5.1
.vs/NoteTakingAPI/v17/.suo
.vs/NoteTakingAPI/v17/.futdcache.v2
.vs/NoteTakingAPI/DesignTimeBuild/.dtbcache.v2
.vs/NoteTakingAPI/DesignTimeBuild/.dtbcache.v2
.vs/NoteTakingAPI/FileContentIndex/50a7a2f2-904c-4c10-9b23-b316e7b9eeb0.vsidx
.vs/NoteTakingAPI/FileContentIndex/7173ceba-8cd8-4c81-88a4-e42fa01b0fdc.vsidx
.vs/NoteTakingAPI/FileContentIndex/718355c6-1559-4214-8a23-47b6974f1a30.vsidx
.vs/NoteTakingAPI/FileContentIndex/8e4dceea-fdcd-4158-b0ff-f6c67ea0a9fa.vsidx
.vs/NoteTakingAPI/FileContentIndex/d01e24a8-b3d1-4a44-8d8e-07ac2d959cf8.vsidx
.vs/NoteTakingAPI/FileContentIndex/e0e10c8d-d789-4636-a3d7-fda8d33e9ad3.vsidx
.vs/NoteTakingAPI/FileContentIndex/99649593-d2ac-4413-9d9f-583f4785209d.vsidx
.vs/NoteTakingAPI/v17/.suo
.vs/ProjectEvaluation/notetakingapi.projects.v5.1
NoteTakingAPI/bin/Debug/net6.0/NoteTakingAPI.pdb
.vs/ProjectEvaluation/notetakingapi.metadata.v5.1
NoteTakingAPI/bin/Debug/net6.0/NoteTakingAPI.dll
NoteTakingAPI/obj/Debug/net6.0/NoteTakingAPI.pdb
NoteTakingAPI/obj/Debug/net6.0/NoteTakingAPI.dll
NoteTakingAPI/obj/staticwebassets.pack.sentinel
